{% load static from staticfiles %}
{% load i18n %}
<div class="large-12 columns">
    <div class="content clearfix">
        <div class="large-3 columns">
            <img src="{% if book.cover %}{{ book.cover.url }}{% endif %}" alt="">

            {% if not books %}<p><br /><a class="button" href="{% url 'books_index' %}"><i class="fa fa-arrow-left">&nbsp;</i>Back to Listing</a></p>{% endif %}
        </div>
        <div class="{% if books %}large-9 columns{% else %}large-7 columns{% endif %}">
            {% if book.is_open_access %}
                {% include "books/oa_header.html" %}
            {% else %}
                <h2>{% if books %}<a href="{% url 'books_book' book.pk %}">{% endif %}{{ book.full_title }}{% if books %}</a>{% endif %}</h2>
            {% endif %}

            <h6><em>{% for contributor in book.contributor_set.all %}{% if not forloop.first and not forloop.last %},
            {% elif forloop.last and not forloop.first %} & {% endif %}{{ contributor }}{% endfor %}</em></h6>

            {% for format in book.format_set.all %}
                <a href="{% url 'books_download_format' book.pk format.pk %}" class="button"><i class="fa fa-download">&nbsp;</i> Download {{ format.title }}</a>
                {% if format.is_epub %}<a href="{% url 'books_read_epub' book.pk format.pk %}" target="_blank" class="button"><i class="fa fa-book">&nbsp;</i> Read this Book</a>{% endif %}
            {% endfor %}
            {% if book.purchase_url %}<a href="{{ book.purchase_url }}" class="button" target="_blank"><i class="fa fa-external-link"></i>&nbsp;Buy this Book</a>{% endif %}

            <table class="table" style="margin-bottom: 0;">
                <tr>
                    <th>Description</th>
                </tr>
                <tr>
                    <td>
                        {{ book.description|safe }}
                        {% if books %}
                        <p>
                            <a href="{% url 'books_book' book.pk %}">View more detail <i class="fa fa-arrow-right"></i></a>
                        </p>
                        {% endif %}
                    </td>
                </tr>
            </table>

            {% with chapters=book.chapter_set.all %}
                {% if not books %}
                    {% include "books/elements/detail.html" %}
                {% endif %}
            {% endwith %}

        </div>

        {% if not books %}
            <div class="large-2 columns">
                <h3>Book Metrics</h3>
                <h4>{{ book.metrics.downloads }}</h4>
                <p>Downloads</p>
                <h4>{{ book.metrics.views }}</h4>
                <p>Views</p>
            </div>
        {% endif %}
    </div>
</div>
