<div class="large-12 columns">
    <div class="content clearfix">
        <div class="large-2 columns">
            <img src="{% if book.cover %}{{ book.cover.url }}{% endif %}" alt="">
            {% if not books %}<p><a href="{% url 'books_index' %}"><i class="fa fa-arrow-left">&nbsp;</i>Back to Listing</a></p>{% endif %}
        </div>
        <div class="large-7 columns">
            <a href="{% url 'books_book' book.pk %}"><h2>{{ book.full_title }}</h2></a>
            <h6>{% for contributor in book.contributor_set.all %}{% if not forloop.first and not forloop.last %},
            {% elif forloop.last and not forloop.first %} & {% endif %}{{ contributor }}{% endfor %}</h6>
            {{ book.description|safe|linebreaksbr }}
        </div>
        <div class="large-3 columns">
            <h6>About this Book</h6>
            <strong>Published</strong> {{ book.date_published }}<br/><br/>
            <strong>Published by</strong> {{ book.publisher_name }}<br/><br/>
            {% if book.pages %}<strong>Pages</strong> {{ book.pages }}<br/><br/>{% endif %}
            {% if book.isbn %}<strong>ISBN</strong> {{ book.isbn }}<br/><br/>{% endif %}
            {% if book.doi %}<strong>DOI</strong> <a href="https://doi.org/{{ book.doi }}">{{ book.doi }}</a><br/>
                <br/>{% endif %}
            {% if book.format_set.all %}
            <h6>Downloads</h6>
            {% endif %}
            {% for format in book.format_set.all %}
                <a href="{% url 'books_download_format' book.pk format.pk %}" class="button">{{ format.title }}</a>
            {% endfor %}
            {% if book.purchase_url %}
                <h6>Purchase</h6>
                <a href="{{ book.purchase_url }}" class="button" target="_blank">Buy this Book</a>
            {% endif %}
        </div>
    </div>
</div>