{% extends "admin/core/base.html" %}

{% block title %}Books Admin{% endblock title %}

{% block breadcrumbs %}
    {{ block.super }}
    <li><a href="{% url 'books_admin' %}">Books Admin</a></li>
    <li>Import Books</li>
    <li>Error</li>
{% endblock %}


{% block body %}
    <div class="large-12 columns">
        <div class="box">
            <div class="title-area">
                <h2>Import Books</h2>
            </div>
            <div class="content">
               {{ error_message }}
            </div>
        </div>
    </div>

{% endblock body %}