{% extends "core/base.html" %}

{% block title %}Books{% endblock %}

{% block body %}
    <section class="content">
        <div class="row">
            <h4>Published Books</h4>

            {% for book in books %}
                <div class="box journal">
                    <div class="row collapse">
                        {% include "books/book_detail.html" with book=book %}
                    </div>
                </div>
            {% empty %}
                <p>There are no published books to display.</p>
            {% endfor %}
        </div>

    </section>

{% endblock body %}