{% extends "core/base.html" %}
{% load static %}

{% block title %}{{ book.title }}{% endblock %}

{% block css %}
  <link href="{% static "books/books.css" %}" rel="stylesheet">
{% endblock css %}

{% block body %}
  <section class="content">
    <div class="row">
      {% include "books/OLH/breadcrumb.html" %}
      <div class="olh-book">
        {% include "books/OLH/book_detail.html" with book=book %}
      </div>
    </div>
  </section>
{% endblock %}

{% block js %}
  {% include "books/OLH/read_more.js" %}
{% endblock %}