<ul class="accordion" data-accordion data-allow-all-closed="true">
    <li class="accordion-item" data-accordion-item>
        <a href="#" class="accordion-title">Details</a>
        <div class="accordion-content" data-tab-content>
            <table class="table small">
                <tr>
                    <th>Published</th>
                    <th>Published By</th>
                    <th>Pages</th>
                    {% if book.isbn %}
                        <th>ISBN</th>{% endif %}
                    {% if book.doi %}
                        <th>DOI</th>{% endif %}
                    {% if chapters %}
                        <th>{{ book.category.chapter_name_plural|capfirst }}</th>{% endif %}
                </tr>
                <tr>
                    <td>{{ book.date_published }}</td>
                    <td>{{ book.publisher_name }}</td>
                    <td>{{ book.pages }}</td>
                    {% if book.isbn %}
                        <td>{{ book.isbn }}</td>{% endif %}
                    {% if book.doi %}
                        <td>{{ book.doi }}</td>{% endif %}
                    {% if chapters %}
                        <td>{{ chapters.count }}</td>{% endif %}
                </tr>
            </table>
        </div>
    </li>

    {% if chapters %}
    <li class="accordion-item" data-accordion-item>
        <a href="#" class="accordion-title">{{ book.category.chapter_name_plural|capfirst }}</a>
        <div class="accordion-content" data-tab-content>
            <p>{{ book.full_title }} has the following {{ book.category.chapter_name_plural }}:
            <ul>
                {% for chapter in chapters %}
                    <li><a href="{% url 'book_view_chapter' book.pk chapter.pk %}">{% if chapter.number %}
                        {{ chapter.number }}{% endif %} {{ chapter.title }}</a>
                    </li>
                {% endfor %}
            </ul>
            </p>
        </div>
    </li>
    {% endif %}
</ul>